<div id="content-wrapper" class="content-wrapper">

  {# content-header #}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <div class="col-sm-6">
          <h4 id="content-title" class="ml10">{{ textData.NAV_DASHBOARD }}</h4>
        </div>

      </div>
    </div>
  </div>
  {# content-header end #}
  
  {# content #}
  <div id="content" class="content">
    
    <div class="running-deer" style="filter:invert(100%);">
    </div>

    <div class="container-fluid d-none">
      
      {% include "pages/home/content/dashboard/layout.html" %}
      {% include "pages/home/content/assets/layout.html"    %}

    </div>

  </div>
  {# content end #}

</div>