<!DOCTYPE html>
<html>

  <head> 

    {% if title %} <title>{{ textData.SASM }} - {{ title }}</title>
    {% else     %} <title>{{ textData.SASM               }}</title> {% endif %}

    <meta charset="utf-8"                                                                      />
    <meta name="viewport"                      content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection"              content="telephone=no"                          />
    <meta http-equiv="X-UA-Compatible"         content="IE=Edge,chrome=1"                      />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"             />

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  </head>
  
  {% if   title == 'Login' %} <body class="hold-transition login-page"                         >
  {% elif title == 'Home'  %} <body class="hold-transition sidebar-mini layout-fixed dark-mode">
  {% else                  %} <body class="hold-transition"                                    > {% endif %}
    
    <link rel="stylesheet" href="{{ url_for( 'static', filename='plugins/jquery-ui/jquery-ui.min.css'      ) }}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='plugins/bootstrap/css/bootstrap.min.css'  ) }}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='plugins/fontawesome-free/css/all.min.css' ) }}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='plugins/toastr/toastr.min.css'            ) }}">

    <style> {% include "base/style.css" %} </style>

    {% if current_user.is_authenticated %}
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='plugins/jquery-contextmenu/jquery.contextMenu.min.css' ) }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='plugins/bootstrap-table/bootstrap-table.min.css'       ) }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='plugins/flatpickr/flatpickr.min.css'                   ) }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='plugins/jsgrid/jsgrid.min.css'                         ) }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='plugins/jsgrid/jsgrid-theme.min.css'                   ) }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='plugins/jsTree/themes/default/style.min.css'           ) }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/adminlte.min.css'                                  ) }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/my-table.css'                                      ) }}"> {% endif %}

    {% block STYLES %}{# LINE #}{% endblock %}

    {% if title in ( "Install", "Setting" ) %}
      {% include "base/navbar/layout.html" %} {% endif %}

    {% block CONTENT %}{# LINE #}{% endblock %}
    
    {% include "base/modals/layout.html" %}

    <script src="{{ url_for( 'static', filename='plugins/jquery/jquery.min.js'                 ) }}"></script>
    <script src="{{ url_for( 'static', filename='plugins/jquery-ui/jquery-ui.min.js'           ) }}"></script>
    <script src="{{ url_for( 'static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='plugins/rxjs/rxjs.umd.min.js'                 ) }}"></script>
    <script src="{{ url_for( 'static', filename='plugins/lodash/lodash.min.js'                 ) }}"></script>
    <script src="{{ url_for( 'static', filename='plugins/toastr/toastr.min.js'                 ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/adminlte.js'                               ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/my-util.js'                                ) }}"></script>

    <script type="text/javascript">
          const Rx       = window.rxjs
        ; const language = '{{ language }}'          
        ; const exitcode = {
              SUCCESS  : 0
            , INFO     : 1
            , WARNING  : 2
            , FAIL     : 3
            , ERROR    : 4
            , REJECTED : 5
            , REDIRECT : 6
            , ABORTED  : 7
            , DEBUG    : 9
          }

        ; $( document ).on( 'hidden.bs.modal', e => 
               $( '.modal:visible' ).length
            && $( '.modal:visible' ).focus()
            && $( 'body'           ).addClass( 'modal-open' )
          )

        ; new EventSource( '/stream' )
            . addEventListener( 'from_sasm', e => {
                  const { level, title, description, hide } = JSON.parse( e.data )
                ; util.popUpToast( level, title, description, hide )
              ; } )

        {% include "base/script.js" %}
    </script>

    {% if current_user.is_authenticated 
      %} <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/jquery-contextmenu/jquery.contextMenu.min.js' ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/jquery-knob/jquery.knob.min.js'               ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/popper/popper.min.js'                         ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/bootstrap-table/bootstrap-table.min.js'       ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/flatpickr/flatpickr.js'                       ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/flatpickr/flatpickr.ko.js'                    ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/jsTree/jstree.min.js'                         ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/jsgrid/jsgrid.min.js'                         ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='plugins/chart.js/Chart.min.js'                        ) }}"></script>
         <script type="text/javascript" src="{{ url_for( 'static', filename='js/my-table.js'                                       ) }}"></script>
         <script type="text/javascript">
              const refreshSession = () => util.debounce( 'refreshSession', 
                  () => $.ajax( {
                      url      : '/sys/refresh'
                    , type     : 'post'
                    , data     : { this_user : '{{ current_user.id }}' }
                    , dataType : 'json'
                    , success  : ( response ) => {
                        switch( response.exitcode ){
                            case exitcode.INFO:
                                break
                            ;
                            default:
                                base.msgBox( 
                                      response.title
                                    , response.description
                                    , () => { window.location = window.location.origin; }
                                )
                            ; 
                        }
                      ; }
                    , error    : () => {
                        window.location = window.location.origin
                      ; }
                  } )
              )

            ; let web_session_timeout = "{{ web_session_timeout }}"
            ; ( 
                function SessionTimeoutHandler( timer=undefined, is_timeout=false ){
                      const setTimer = () => {
                          typeof timer !== undefined && clearTimeout( timer )

                        ; timer = setTimeout(
                              () => { is_timeout = true; refreshSession(); }
                            , ( web_session_timeout * 1000 ) + 5000
                          )
                      }

                    ; $( document ).ajaxComplete( () => { if ( !is_timeout ){ setTimer(); } } )
                ; }
              () )

            ; util.addEventListeners( {
                  "refresh_session_when_something_is_clicked" : {
                      selector : 'a:not(.no-refresh),button:not(.no-refresh),li:not(.no-refresh)'
                    , method   : 'on'
                    , args     : [ 'click', e => { refreshSession(); } ]
                  }
                , "logout_button" : {
                      selector : '#logout-button'
                    , method   : 'on'
                    , args     : [ 'click', () => 
                        $.ajax( {
                              url      : '/auth/logout'
                            , type     : 'post'
                            , dataType : 'json'
                            , success  : ( response ) => {
                                switch( response.exitcode ){
                                    case exitcode.SUCCESS:
                                          window.location = window.location.origin
                                        ; break
                                    ;
                                    default:
                                        base.msgBox( response.title, response.description )
                                    ;
                                }
                              }
                            , error    : () => {
                                window.location = window.location.origin
                              ; }
                        } )
                      ]
                  }
              } )
         </script> {% endif %}    

    {% block SCRIPTS %}{# LINE #}{% endblock %}

  </body>

</html>