__pycache__/
bin/*
docs/
.vscode
data/pg/
config/config.ini
log/*
web/static/plugins/bootstrap-colorpicker/
web/static/plugins/bootstrap-slider/
web/static/plugins/bootstrap-switch/
web/static/plugins/bootstrap4-duallistbox/
web/static/plugins/bs-custom-file-input/
web/static/plugins/bs-stepper/
web/static/plugins/chart.js/
web/static/plugins/codemirror/
web/static/plugins/datatables/
web/static/plugins/datatables-autofill/
web/static/plugins/datatables-bs4/
web/static/plugins/datatables-buttons/
web/static/plugins/datatables-colreorder/
web/static/plugins/datatables-fixedcolumns/
web/static/plugins/datatables-fixedheader/
web/static/plugins/datatables-keytable/
web/static/plugins/datatables-responsive/
web/static/plugins/datatables-rowgroup/
web/static/plugins/datatables-rowreorder/
web/static/plugins/datatables-scroller/
web/static/plugins/datatables-searchbuilder/
web/static/plugins/datatables-searchpanes/
web/static/plugins/datatables-select/
web/static/plugins/daterangepicker/
web/static/plugins/dropzone/
web/static/plugins/ekko-lightbox/
web/static/plugins/fastclick/
web/static/plugins/filterizr/
web/static/plugins/flag-icon-css/
web/static/plugins/flot/
web/static/plugins/fullcalendar/
web/static/plugins/icheck-bootstrap/
web/static/plugins/inputmask/
web/static/plugins/ion-rangeslider/
web/static/plugins/jquery-knob/
web/static/plugins/jquery-mapael/
web/static/plugins/jquery-mousewheel/
web/static/plugins/jquery-validation/
web/static/plugins/jqvmap/
web/static/plugins/jsgrid/
web/static/plugins/jszip/
web/static/plugins/moment/
web/static/plugins/monaco_editor/
web/static/plugins/overlayScrollbars/
web/static/plugins/pace-progress/
web/static/plugins/pdfmake/
web/static/plugins/popper/
web/static/plugins/raphael/
web/static/plugins/select2/
web/static/plugins/select2-bootstrap4-theme/
web/static/plugins/simtree/
web/static/plugins/sparklines/
web/static/plugins/summernote/
web/static/plugins/sweetalert2/
web/static/plugins/sweetalert2-theme-bootstrap-4/
web/static/plugins/tempusdominus-bootstrap-4/
web/static/plugins/uplot/