<aside id="main-sidebar" class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="/home" class="brand-link d-flex justify-content-center">
        <img src="{{ url_for( 'static', filename='img/SASM_logo.png' ) }}" alt="SASM Logo" class="brand-image-xs" style="max-height: 64px !important;">
    </a>

    <div class="sidebar">

        {% include "pages/home/main-sidebar/search-bar/layout.html" %}
        {% include "pages/home/main-sidebar/nav-pills/layout.html"  %}

    </div>

</aside>