<div class="container-fluid">
    <div class="base-container content p2vh">

        {% include "pages/setting/modals/layout.html" %}

        <div class="card card-main">
            <div class="d-flex justify-content-center">
                
                <div class="col-2 col-nav-pill">
                    <div class="nav flex-column" id="tab" role="tablist" aria-orientation="vertical">
                        
                        <a 
                            id            = "web-user-manage-tab"
                            href          = "#web-user-manage" 
                            class         = "active nav-link d-flex align-items-center" 
                            data-toggle   = "pill" 
                            role          = "tab" 
                            aria-controls = "web-user-manage" 
                            aria-selected = "false"
                        >
                            <img src="static/img/dot.svg" class="dot-image">
                            {{ textData.NAV_PILL_WEB_USER_MANAGE }}
                        </a>

                        <a 
                            id            =  "audit-log-manage-tab"
                            href          =  "#audit-log-manage"
                            class         =  "nav-link d-flex align-items-center"
                            data-toggle   =  "pill"
                            role          =  "tab"
                            aria-controls = "audit-log-manage"
                            aria-selected = "false"
                        >
                            <img src="static/img/dot.svg" class="dot-image">
                            {{ textData.NAV_PILL_AUDIT_LOG_MANAGE }}
                        </a>

                        <a
                            id            = "session-lifetime-manage-tab"
                            href          = "#session-lifetime-manage"
                            class         = "nav-link d-flex align-items-center"
                            data-toggle   = "pill"
                            role          = "tab"
                            aria-controls = "session-lifetime-manage"
                            aria-selected = "false"
                            onclick       = "loadSessionLifetime()"
                        >
                            <img src="static/img/dot.svg" class="dot-image">
                            {{ textData.NAV_PILL_SESSION_LIFETIME_MANAGE }}
                        </a>

                        <a
                            id            = "server-manage-tab"
                            href          = "#server-manage"
                            class         = "nav-link d-flex align-items-center"
                            data-toggle   = "pill"
                            role          = "tab"
                            aria-controls = "server-manage"
                            aria-selected = "false"
                        >
                            <img src="static/img/dot.svg" class="dot-image">
                            {{ textData.NAV_PILL_SERVER_MANAGE }}
                        </a>

                    </div>
                </div>

                <div class="col-10 col-content">
                    <div class="tab-content" id="tabContent">
                        {% include "pages/setting/content/layout.html" %}
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>