.btn {
  height: 34px;
  font-size: 0.8rem;
}
.btn:focus {
  box-shadow: none !important;
}

.form-control {
  height: 34px;
  font-size: 0.8rem;
  padding-right: 12px;
  padding-left: 12px;
}
.form-control:focus {
  border: 1px solid #68717b;
  box-shadow: none;
}
.form-control:disabled {
  border: 1px solid #b2b2b2;
}

.card-main {
  min-height: 762px;
  height: calc(100vh - 250px);
  padding: 30px 20px 30px 20px;
}

.col-nav-pill {
  padding: 0 20px 0 0;
}
.col-nav-pill .nav>a.nav-link{
  min-height: 40px;
  color: #000;
  background-color: #fff;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
  line-height: normal;
}
.col-nav-pill .nav>a.nav-link svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.col-nav-pill .nav>a.nav-link svg path:not(.none) {
  fill: #000;
}
.col-nav-pill .nav>a.nav-link:hover {
  color: #6d90c1;
}
.col-nav-pill .nav>a.nav-link:hover svg path:not(.none) {
  fill: #6d90c1;
}
.col-nav-pill .nav>a.nav-link.active{
  font-weight: bold;
  color: #fff;
  background-color: #6d90c1;
  border-radius: 0.25rem;
  padding: 0 0 0 20px;
  transition: 0.4s;
}
.col-nav-pill .nav>a.nav-link.active svg path:not(.none) {
  fill: #fff;
  transition: 0.4s;
}

.col-content .description-card {
  background: #eff3f9;
  border: 1px solid #d3e3ef;
  padding: 30px;
}

.col-content .card .card-body {
  padding: 25px;
  height: 100%;
}

.col-content .btn:not(.my-table-btn) {
  height: 34px;
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  color: #343434;
  transition: 0s;
}
.col-content .btn:not(.my-table-btn) .svg-wrapper {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-right: 3px;
}
.col-content .btn svg {
  width: 16px;
  height: 16px;
}
.col-content .btn:not(.my-table-btn):hover {
  background-color: #6d90c1;
  color: #fff;
  transition: 0s;
}
.col-content .btn:not(.my-table-btn).pressed {
  background-color: #6d90c6;
  color: #fff;
  transition: 0s;
}
.col-content .btn:not(.my-table-btn):hover svg path:not(.none),
.col-content .btn:not(.my-table-btn).pressed svg path:not(.none) {
  fill: #fff;
  transition: 0s;
}
.col-content .btn:not(.my-table-btn):disabled:hover {
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  color: #343434;
  cursor: default;
}
.col-content .btn:not(.my-table-btn):disabled:hover svg path:not(.none) {
  fill: #69737b;
}

.col-content .col-form-label {
  width: 100px;
  margin-right: 0.5rem;
  padding: 0;
}
.col-content .content-container {
  /* height: auto; */
  padding-left: 15px;
  padding-right: 15px;
}
.col-content .content-container .content-title {
  font-size: 1rem;
  font-weight: bold;
}
.col-content .content-container .content-body {
  background: #f6f6f6;
  border: 1px solid #dee2e6;
  white-space: pre-line;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  overflow-y: auto;
}
.col-content .content-container .content-body .no-data {
  color: #6c757d;
  font-style: italic;
}
#session-lifetime-manage-input-time {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  margin: 0;
  text-align: center;
  text-align-last: center;
}

#session-lifetime-manage-select-time-unit {
  width: 5% !important;
}

/* #place-for-web-user-table {
  width: 830px;
  height: 420px;
  margin-left: 25px;
}
#place-for-web-user-table table td {
  text-align: center;
} */
