{% include "pages/setting/content/web_user_manage/layout.j2"         %}
{% include "pages/setting/content/audit_log_manage/layout.j2"        %}
{% include "pages/setting/content/session_lifetime_manage/layout.j2" %}
{% include "pages/setting/content/server_manage/layout.j2"           %}