<div id="install-manage" class="d-inline form-content">

    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-id" class="col-form-label">{{ textData.INSTALL_WEB_ADMIN_USER }}</label>
        <input type="text" class="form-control" id="install-manage-input-id" placeholder="{{ installInfoDefault.webUserDefault }}" disabled>
    </div>
    
    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-pw" class="col-form-label">{{ textData.INSTALL_WEB_ADMIN_PASS }}</label>
        <input  id="install-manage-input-pw" class="form-control" type="password">
    </div>
    <div id="install-manage-empty-pw" class="d-none validation-control text-danger">{{ textData.VALIDATION_INCOMPLETE_FORM_PW }}</div>
    
    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-re-pw" class="col-form-label">{{ textData.INSTALL_WEB_ADMIN_PASS_RE }}</label>
        <input  id="install-manage-input-re-pw" class="form-control" type="password">
    </div>
    <div id="install-manage-empty-re-pw" class="d-none validation-control text-danger">{{ textData.VALIDATION_INCOMPLETE_FORM_PW_NO_MATCH }}</div>
    
    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-name" class="col-form-label">{{ textData.INSTALL_WEB_ADMIN_NAME }}</label>
        <input  id="install-manage-input-name" class="form-control" type="text">
    </div>
    <div id="install-manage-empty-name" class="d-none validation-control text-danger">{{ textData.VALIDATION_INCOMPLETE_FORM_NAME }}</div>
    
    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-department" class="col-form-label">{{ textData.INSTALL_WEB_ADMIN_DEPARTMENT }}</label>
        <input  id="install-manage-input-department" class="form-control" type="text">
    </div>
    <div id="install-manage-empty-department" class="d-none validation-control text-danger">{{ textData.VALIDATION_INCOMPLETE_FORM_DEPARTMENT }}</div>
    
    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-email" class="col-form-label">{{ textData.INSTALL_WEB_ADMIN_EMAIL }}</label>
        <input  id="install-manage-input-email" class="form-control" type="text" >
    </div>
    <div id="install-manage-empty-email" class="d-none validation-control text-danger">{{ textData.VALIDATION_INCOMPLETE_FORM_EMAIL }}</div>
    
    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-web-port" class="col-form-label">{{ textData.INSTALL_WEB_PORT }}</label>
        <input  id="install-manage-input-web-port" class="form-control" type="number" placeholder="{{ installInfoDefault.webPortDefault }}" value="{{ installInfo.webPort }}" min="1" max="65535">
    </div>
    
    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-db-path" class="col-form-label">{{ textData.INSTALL_DB_PATH }}</label>
        <input  id="install-manage-input-db-path" class="form-control" type="text" placeholder="{{ installInfoDefault.dbDataDefault }}" value="{{ installInfo.dbData }}">
    </div>
    
    <div class="d-flex align-items-center mt15">
        <img src="static/img/dot.svg" class="dot-image">
        <label for="install-manage-input-db-port" class="col-form-label">{{ textData.INSTALL_DB_PORT }}</label>
        <input  id="install-manage-input-db-port" class="form-control" type="number" placeholder="{{ installInfoDefault.dbPortDefault }}" value="{{ installInfo.dbPort }}" min="1" max="65535">
    </div>
    
    <div class="d-flex justify-content-center mt20">
        <button id="install-manage-submit-button" class="btn w-30 d-flex justify-content-center align-items-center no-refresh">
            <span id="install-manage-submit-button-span" role="status" aria-hidden="true"></span>
            <div  id="install-manage-submit-button-text">{{ textData.INSTALL }}</div>
        </button>
    </div>

</div>