<div class="wrapper">

    {% include "pages/home/navbar/layout.j2"          %}
    {% include "pages/home/main-sidebar/layout.j2"    %}
    {% include "pages/home/content/layout.j2"         %}
    {% include "pages/home/control-sidebar/layout.j2" %}
    {% include "pages/home/footer/layout.j2"          %}

</div>