<div id="server-manage" class="tab-pane" role="tabpanel" aria-labelledby="server-manage-tab"> <!-- //! -->

    <div class="description-card">{{ textData.SERVER_MANAGE_DESCRIPTION_CARD }}</div>

    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <button class="btn w160 d-flex justify-content-center align-items-center"      id="restart-button"  onclick="restartServer()" >{{ textData.SERVER_MANAGE_RESTART  }}</button>
                <button class="btn ml-2 w160 d-flex justify-content-center align-items-center" id="shutdown-button" onclick="shutdownServer()">{{ textData.SERVER_MANAGE_SHUTDOWN }}</button>
            </div>
        </div>
    </div>

</div>