{% extends "base/layout.j2" %}

{% block 
    STYLES  %}
{% endblock %}

{% block
    CONTENT %}

  {% include "pages/login/layout.j2" %}

{% endblock 
%}

{% block 
    SCRIPTS %}
  
  <script type="text/javascript">
    {% include 'pages/login/script.js' %}
  </script>

{% endblock
%}